body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display:flex;
    flex-direction: row;
    /* justify-content: space-evenly;  */
    /* flex-wrap: nowrap; */
    align-items: center; 
}

main {
        width : 80%;
        margin : 0 auto;
        border : 5px solid black;
        height : 500px;
        display : flex;
}
main .sidebar{
    background-color: purple;
    flex:1 3 20px;
}

main .maincontent {
    background-color: aqua;
    flex: 1;
}


div {
    flex-grow :1;
}
/* div:nth-of-type(3) {
    align-self : flex-end;
} */

#container div {
    width: 200px;
    height: 200px;
}
