<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Homepage <%= 4 + 5 + 6 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet voluptates qui alias ratione ea aut hic magni dolorem facilis enim consequatur, nesciunt deleniti quod quae excepturi, nemo fugit laborum!
    Recusandae veritatis praesentium commodi labore suscipit consectetur nulla quasi incidunt, similique provident inventore repellendus ad accusantium reprehenderit fugiat possimus vero ipsum enim hic obcaecati, deleniti assumenda voluptas rerum facilis? Harum.
    Explicabo vel porro quam exercitationem. Dolorem, nemo! Velit saepe asperiores dolor necessitatibus nemo error doloribus accusantium at, voluptatum vitae possimus illo? Aperiam repudiandae itaque excepturi maiores cumque qui quidem quod!
    Laudantium alias commodi modi quae voluptatibus, et expedita necessitatibus nobis rem incidunt temporibus vero, quisquam, optio suscipit odio dignissimos rerum assumenda? Rem recusandae tenetur, incidunt amet perspiciatis quia. Voluptas, alias!
    Autem asperiores saepe deserunt, nulla quam quod expedita maiores molestias sunt quo incidunt aliquid, nesciunt, aliquam perferendis distinctio provident illo. Quod aliquid quia nisi molestias nam deleniti repudiandae esse officia.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellendus, beatae tempora nihil officia, aliquam sit veniam sed, quia quae modi consequuntur architecto soluta incidunt ex tenetur inventore? Quod, eos?
    Aspernatur dolorem consectetur voluptas consequuntur quaerat cupiditate illo quidem! Atque neque aliquid sunt eius eos minus minima perferendis et quae voluptate ab, debitis quis quas fugit cupiditate, expedita laborum consectetur?
    Dolorum exercitationem, placeat eum tempore fugiat dolores corrupti odio. Laudantium harum eligendi dolorum illo cupiditate iure nostrum voluptate sed ipsum nulla expedita molestiae laboriosam, sunt adipisci officia maxime inventore velit?</p>
</body>
</html>